.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .imagem-superior-direita {
    align-self: flex-end;
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: 80px; /* Ajuste o tamanho conforme necessário */
  }
  
  .imagem-esquerda {
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: 80px; /* Ajuste o tamanho conforme necessário */
  }
  
  .imagem-central-direita {
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: 80px; /* Ajuste o tamanho conforme necessário */
  }
